<div class="task-manager">
    <header>
        <h3>Awesome Kanban Board</h3>
    </header>
        <div class="container main-content">
            <div class="row align-items-start">
                <div class="col  border-0 todoField">
                    <h4>Ready</h4>
                    <div class="todos-wrapper-ready">
                            <!-- поле to do -->
                    </div>
                    <div class="add-todo-wrapper">
                        <div class="input-wrapper">
                            <!-- поле ввыода -->
                        </div>
                        <div class="btn-wrapper">
                            <!-- кнопка ввода/отправки -->
                        </div>
                    </div>
                </div>
                <div class="col border-0 todoField">
                    <h4>In Progress</h4>
                </div>
                <div div class="col border-0 todoField">
                    <h4>Finished</h4>
                </div>
            </div>
        </div>
  
    
    <footer>
        <h5>Active tasks:</h5>
    </footer>

</div>